00_original/*
!00_original/README.md
01_work/*
!01_work/README.md
03_output/*
!03_output/README.md
04_screenshots/*
!04_screenshots/README.md
06_tools/*
!06_tools/README.md
99_backup/*
!99_backup/README.md
translation/
*.bin
*.cue
*.iso
*.chd
*.dat
*.DAT
*.img
*.IMG
*.xa
*.str
*.exe
*.dll
*.snd
*.state
*.ram
*.sav
*.zip
*.7z
*.lzb
*.LZB
*.sfc
*.smc
__pycache__/
*.py[cod]
.venv/
.env
*.local.json
